@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', Arial, serif;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}

.hero {
  background: #d68910;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.hero-content {
  /* border: 4px solid green; */
  padding: 30px;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 188, 245, 1) 100%,
    rgba(9, 188, 245, 1) 100%
  );
  background-image: url(./images/Daniel_J.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25%;
}

.icon {
  font-size: 1.8em;
}

.name {
  font-family: 'Sofadi One', system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 2em;
  transform: rotate(-4deg);
  /* border: 4px solid black; */
}

.occupation {
  /* border: 4px solid black; */
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.links {
  text-align: center;
  margin-top: 40px;
  /* border: 5px solid black; */
}

h2 {
  text-align: center;
  color: #333;
  /* border: 5px solid black; */
  margin-top: 80px;
  font-size: 2em;
}

.about {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  padding: 40px;
  line-height: 1.2;
  font-size: 1em;
  color: #333;
}

.contact-info {
  flex: 10%;
  /* background: gray; */
}

.about-me {
  flex: 50%;
}

.about-icon-wrapper {
  margin-top: 70px;
}

.about-icon {
  background-color: #fff;
  font-size: 1.8em;
  padding: 10px;
  margin-right: 15px;
  border-radius: 10px;
}

.about-icon a {
  text-decoration: none;
  color: #000;
}

.info {
  font-weight: bold;
}

.work-experience h2,
.education h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #ccc;
  color: #333;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.3rem;
}

li {
  list-style: none;
}

.resume {
  text-align: center;
}

.work-experience,
.education {
  /* background-color: #f2f2f2; */
  padding: 20px;
  position: relative;
}

.work-experience h2,
.education h2 {
  margin-bottom: 20px;
}

.education {
  margin-bottom: 200px;
}

.line {
  width: 2px;
  height: 95%;
  background-color: #d68910;
  position: absolute;
  left: 50%;
  top: 140.8px;
  transform: translateX(-50%);
}

.job-container {
  display: flex;
  flex-direction: column;
}

.job {
  width: 40%;
  padding: 20px;
  /* border: 1px solid #ccc; */
  margin-top: 20px;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.hero-2 {
  background: #d68910;
  height: 100%;
  padding: 1px;
}

.hero-2 h2 {
  margin-top: 40px;
  color: #fff;
}

.card-container {
  display: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 5px solid black; */
  width: 70%;
  /* height: 100%; */
  margin: 0 auto;
}

.card {
  width: 300px;
  height: auto;
  text-align: center;
  /* background: #f0f0f0; */
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  line-height: 1.2;
}

.card-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  color: #d68910;
  margin: 0 auto 10px;
  padding: 5px;
}

.card-circle i {
  margin: 20px 0 0 0;
}

/* skills section */

.skills-container {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  /* border: 5px solid black; */
}

.skills-container h2 {
  margin-bottom: 95px;
  /* border: 4px solid black; */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.skill-circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.circle-bg {
  width: 100%;
  height: 100%;
  /* background-color: #fff; */
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.circle-progress {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progress-html {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%);
  border: 2px solid #d68910;
  transition: clip-path 0.5s ease-in-out;
}

.progress-html[data-progress] {
  clip-path: polygon(
    5% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    5% calc(100% - ((100 - data(progress)) * 1%))
  );
}

.progress-css {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 7% 100%);
  border: 2px solid #d68910; /* Change color as needed */
  transition: clip-path 0.5s ease-in-out; /* Animation transition */
}

.progress-css[data-progress] {
  clip-path: polygon(
    7% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    7% calc(100% - ((100 - data(progress)) * 1%))
  );
}

.progress-jquery {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%);
  border: 2px solid #d68910; /* Change color as needed */
  transition: clip-path 0.5s ease-in-out; /* Animation transition */
}

.progress-jquery[data-progress] {
  clip-path: polygon(
    10% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    10% calc(100% - ((100 - data(progress)) * 1%))
  );
}

.progress-php {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(11% 0%, 100% 0%, 100% 100%, 11% 100%);
  border: 2px solid #d68910; /* Change color as needed */
  transition: clip-path 0.5s ease-in-out; /* Animation transition */
}

.progress-php[data-progress] {
  clip-path: polygon(
    11% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    11% calc(100% - ((100 - data(progress)) * 1%))
  );
}

.progress-mysql {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%);
  border: 2px solid #d68910; /* Change color as needed */
  transition: clip-path 0.5s ease-in-out; /* Animation transition */
}

.progress-mysql[data-progress] {
  clip-path: polygon(
    15% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    15% calc(100% - ((100 - data(progress)) * 1%))
  );
}

.progress-angular {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%);
  border: 2px solid #d68910; /* Change color as needed */
  transition: clip-path 0.5s ease-in-out; /* Animation transition */
}

.progress-angular[data-progress] {
  clip-path: polygon(
    10% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    10% calc(100% - ((100 - data(progress)) * 1%))
  );
}

.progress-java {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%);
  border: 2px solid #d68910; /* Change color as needed */
  transition: clip-path 0.5s ease-in-out; /* Animation transition */
}

.progress-java[data-progress] {
  clip-path: polygon(
    10% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    10% calc(100% - ((100 - data(progress)) * 1%))
  );
}

.progress-ruby {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%);
  border: 2px solid #d68910; /* Change color as needed */
  transition: clip-path 0.5s ease-in-out; /* Animation transition */
}

.progress-ruby[data-progress] {
  clip-path: polygon(
    15% 0%,
    100% 0%,
    100% calc(100% - ((100 - data(progress)) * 1%)),
    15% calc(100% - ((100 - data(progress)) * 1%))
  );
}

/* linear skill bar */

.horizontal-skill-bar-container {
  /* border: 4px solid black; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px auto;
}

.s-name {
  font-size: 14px;
  /* font-weight: bold; */
  color: #333;
  margin-bottom: 5px;
}

.s-percent {
  font-size: 16px;
  /* font-weight: bold; */
  color: #333;
}

.skills-col {
  width: 100%;
}

.s-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.s-name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-right: 10px;
}

.p-bar {
  height: 10px;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}

.p-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #00f000;
  transition: width 0.5s ease-in-out;
}

.s-percent {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-left: 10px;
}

.p-bar-html-css::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #0b35ee;
  transition: width 0.5s ease-in-out;
}

.p-bar-wordpress::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #f0050d;
  transition: width 0.5s ease-in-out;
}

.p-bar-php::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #fc5806;
  transition: width 0.5s ease-in-out;
}

.p-bar-java::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #a206fc;
  transition: width 0.5s ease-in-out;
}

.p-bar-ruby::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #100119;
  transition: width 0.5s ease-in-out;
}

.p-bar-pyth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #3262f2;
  transition: width 0.5s ease-in-out;
}

.p-bar-query::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress);
  height: 100%;
  background-color: #f22d05;
  transition: width 0.5s ease-in-out;
}

/* Work section */

.work {
  height: 100%;
  background: #d68910;
  padding: 60px 0;
}

.work h2 {
  color: #fff;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 15px;
  width: 100%;
  /* height: 700px; */
  align-items: center;
  /* background: #d68910; */
}

.item {
  height: 200px;
  /* color: white; */
  padding: 40px 20px 0 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Space Mono', Arial, serif;
  font-size: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 1s ease-in-out;
}

.item1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 188, 245, 1) 73%,
    rgba(9, 188, 245, 1) 73%
  );
}

.item2 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(176, 176, 176, 1) 73%
  );
}

.item3 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(252, 252, 252, 1) 0%
  );
}

.item4 {
  background: rgb(18, 18, 28);
  background: linear-gradient(
    40deg,
    rgba(18, 18, 28, 1) 0%,
    rgba(43, 8, 8, 1) 28%
  );
}

.item5 {
  background: rgb(18, 18, 28);
  background: linear-gradient(
    40deg,
    rgba(18, 18, 28, 1) 0%,
    rgba(0, 0, 0, 1) 0%
  );
}

.item6 {
  background: rgb(189, 189, 21);
  background: radial-gradient(
    circle,
    rgba(189, 189, 21, 1) 0%,
    rgba(179, 47, 47, 1) 39%
  );
}

.item7 {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.item8 {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.item .grid-name {
  display: none;
}

.item a {
  display: none;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.item:hover a {
  display: block;
}

.item:hover {
  background: #fff;
  color: #000;
  border: none;
  transform: scale(1.08);
}

.item:hover h3 {
  display: block;
}

.item:hover p {
  display: block;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 40px 0 40px 4%;
  padding: 25px;
}

.post-container p {
  width: 80%;
}

.post-child-elems {
  width: 70%;
}

.post-container a {
  text-decoration: none;
  color: #a52a2a;
  font-weight: bold;
}

.post-child-elems .linear-box-elems {
  /* width: 200px; */
  height: 300px;
}

.elem1 {
  background: rgb(74, 62, 67);
  background: linear-gradient(
    90deg,
    rgba(74, 62, 67, 1) 0%,
    rgba(41, 42, 43, 1) 0%
  );
  border-radius: 10px;
}

.elem2 {
  background: rgb(6, 120, 235);
  background: linear-gradient(
    90deg,
    rgba(6, 120, 235, 1) 0%,
    rgba(14, 184, 187, 1) 53%
  );
  border-radius: 10px;
}

.elem3 {
  background: rgb(0, 6, 13);
  background: linear-gradient(
    90deg,
    rgba(0, 6, 13, 1) 99%,
    rgba(14, 184, 187, 1) 100%
  );
  border-radius: 10px;
}

.hire {
  background-color: #d68910;
  color: #fff;
  height: 450px;
  padding: 25px;
  text-align: center;
}

.hire h2 {
  color: #fff;
}

.hire button {
  padding: 14px;
  width: 155px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
}

.hire a {
  color: #d68910;
  text-decoration: none;
}

.hire button:hover {
  transform: scale(1.05);
}

/* form section */

.form {
  width: 100%;
}

.form-container {
  display: flex;
  width: 100%;
}

.left-hand {
  width: 50%;
  height: 900px;
  background: rgb(141, 145, 145);
  background: linear-gradient(
    90deg,
    rgba(141, 145, 145, 0.9837184873949579) 100%,
    rgba(41, 42, 42, 1) 100%
  );
}

.right-hand {
  width: 50%;
  margin-left: 4%;
}

.right-hand input {
  display: block;
  margin-top: 20px;
  padding: 13px;
  outline: none;
}

input:nth-child(3) {
  width: 70%;
}

input:nth-child(4) {
  margin-bottom: 20px;
  width: 70%;
}

textarea {
  width: 70%;
  padding: 15px;
  outline: none;
  height: 280px;
}

.btn {
  padding: 14px;
  width: 155px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  background: #d68910;
  color: #fff;
  font-family: 'Space Mono', Arial, serif;
  font-size: 1rem;
}

.btn:hover {
  transform: scale(1.05);
}

.right-hand h2 {
  text-align: left;
}
